.card-button{
    width: 200px;
    margin-top: 20px;
    margin-right: 20px;
    background-color: #7a5752;
    color: #ffffff;
    cursor: pointer;
}

.audio-upload .dropdown{
    flex-direction: column;
}